.v-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.v-col-1,
.v-col-2,
.v-col-3,
.v-col-4,
.v-col-5 {
  position: relative;
}
.v-container > div {
  border: 1px solid #ffe8e8;
  margin-bottom: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.v-container img,
video {
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.v-container img {
  object-fit: cover;
}
.v-col-1 {
  padding-top: 56.2%;
  width: 100%;
}
.v-col-2,
.v-col-4 {
  width: calc(50% - 4px);
  padding-top: 37%;
}
.v-col-5 {
  width: calc(50% - 4px);
  padding-top: 36%;
}
.v-col-3 {
  width: calc(50% - 4px);
  padding-top: 30%;
}
.v-three {
  padding-top: 50%;
  width: 100%;
}
.v-three-in-five {
  width: calc(33.33% - 4px);
  padding-top: 25%;
}
.v-ctn-img-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.v-bigger-five::after {
  content: attr(data-index);
  position: absolute;
  font-size: 30px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-container-clone {
  z-index: 1000;
  display: flex;
  background-color: black;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
}
.v-main-content {
  display: flex;
  flex: 1;
  position: relative;
}
.v-item {
  max-width: 100%;
  margin: 0 auto;
  max-height: 100vh;
}
.v-btn-prev,
.v-btn-next {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 40px;
  background-color: #383838;
  color: #d1d1d1;
  text-align: center;
  line-height: 40px;
  user-select: none;
  opacity: 0.7;
  z-index: 1;
}
.v-btn-close {
  position: absolute;
  top: 30px;
  right: 5px;
  font-size: 45px;
  cursor: pointer;
  background-color: transparent;
  padding: 15px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PHBhdGggZD0iTTEgM2wxLjI1LTEuMjUgNy41IDcuNSA3LjUtNy41TDE4LjUgMyAxMSAxMC41bDcuNSA3LjUtMS4yNSAxLjI1LTcuNS03LjUtNy41IDcuNUwxIDE4bDcuNS03LjVMMSAzeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)
    no-repeat 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  user-select: none;
  z-index: 1;
}
.v-btn-prev:hover,
.v-btn-next:hover,
.v-btn-close:hover {
  opacity: 1;
}
.v-btn-prev {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzNCI+PHBhdGggZD0iTTE5IDNsLTItMkwxIDE3bDE2IDE2IDEtMUwzIDE3IDE4IDJ6IiBmaWxsPSIjRkZGIi8+PC9zdmc+)
    50% center no-repeat rgba(0, 0, 0, 0.2);
  margin-left: 15px;
}
.v-btn-next {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzNCI+PHBhdGggZD0iTTEgM2wyLTIgMTYgMTZMMyAzM2wtMS0xIDE1LTE1TDIgMnoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=)
    50% center no-repeat rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}
.v-only-one {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .v-btn-prev {
    position: absolute;
    bottom: 30px;
  }
  .v-btn-next {
    position: absolute;
    bottom: 30px;
    right: 15px;
  }
  .v-main-content {
    width: 100%;
  }
}
